<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:androidprv="http://schemas.android.com/apk/prv/res/android"
        package="com.android.settings"
        coreApp="true"
        android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.MANAGE_APP_LOCK" />
    <uses-permission android:name="android.permission.UPDATE_FONTS" />
    <uses-permission android:name="lineageos.permission.MANAGE_LIVEDISPLAY" />

    <application>
        <uses-library android:name="org.apache.http.legacy"/>
        <uses-library android:name="androidx.window.extensions" android:required="false"/>
        <uses-library android:name="androidx.window.sidecar" android:required="false"/>

        <activity android:name="com.krypton.settings.KryptonSettings"
                android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.KRYPTON_SETTINGS" />
                <action android:name="com.android.settings.action.IA_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.android.settings.order" android:value="-1000" />
            <meta-data android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.homepage" />
            <meta-data android:name="com.android.settings.icon"
                android:resource="@drawable/ic_krypton" />
            <meta-data android:name="com.android.settings.title"
                android:resource="@string/krypton_settings_title" />
            <meta-data android:name="com.android.settings.summary"
                android:resource="@string/krypton_settings_summary" />
            <meta-data android:name="com.android.settings.HIGHLIGHT_MENU_KEY"
                android:value="@string/menu_key_krypton" />
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS"
                android:value="com.krypton.settings.KryptonSettingsFragment" />
        </activity>

        <activity
            android:name="com.krypton.settings.KryptonSettings$LiveDisplaySettingsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.LIVEDISPLAY_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.android.settings.keyhint" android:value="livedisplay" />
            <meta-data android:name="com.android.settings.order" android:value="-100" />
            <meta-data android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.display" />
            <meta-data android:name="com.android.settings.title"
                android:resource="@*android:string/live_display_title" />
            <meta-data android:name="com.android.settings.summary"
                android:resource="@string/live_display_summary" />
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS"
                android:value="com.krypton.settings.display.livedisplay.LiveDisplaySettings" />
        </activity>

        <activity android:name="com.krypton.settings.security.applock.AppLockCredentialActivity"
            android:exported="false"
            android:permission="android.permission.MANAGE_USERS"
            android:excludeFromRecents="true"
            android:stateNotNeeded="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.app.action.UNLOCK_APP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name="com.google.android.settings.routines.RoutinesActionBroadcastReceiver"
                  android:permission="com.google.android.settings.routines.ROUTINES_ACTIONS"
                  android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.settings.routines.RoutinesActionBroadcastReceiver.RINGER_MODE_SILENCE_ACTION"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.google.android.settings.fuelgauge.BatteryBroadcastReceiver"
                android:exported="true">
            <intent-filter>
                <action android:name="settings.intelligence.battery.action.FETCH_BATTERY_USAGE_DATA"/>
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.settings.fuelgauge.BatteryUsageLoaderService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"
            android:process=":usage_data_loader" />

        <activity android:name="com.krypton.settings.KryptonSettings$SwipeToScreenshotSettingsActivity"
                android:exported="false">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.android.settings.order" android:value="1000" />
            <meta-data android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.gestures" />
            <meta-data android:name="com.android.settings.title"
                android:resource="@string/three_finger_gesture_title" />
            <meta-data android:name="com.android.settings.summary"
                android:resource="@string/three_finger_gesture_summary" />
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS"
                android:value="com.krypton.settings.gestures.SwipeToScreenshotSettings" />
        </activity>
    </application>
</manifest>
