<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:androidprv="http://schemas.android.com/apk/prv/res/android"
        package="com.android.settings"
        coreApp="true"
        android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.MANAGE_APP_LOCK" />
    <uses-permission android:name="android.permission.UPDATE_FONTS" />
    <uses-permission android:name="lineageos.permission.MANAGE_LIVEDISPLAY" />

    <application>
        <uses-library android:name="org.apache.http.legacy"/>
        <uses-library android:name="androidx.window.extensions" android:required="false"/>
        <uses-library android:name="androidx.window.sidecar" android:required="false"/>

         <activity android:name="com.flamingo.settings.FlamingoSettingsActivity"
                android:exported="false">
            <intent-filter>
                <action android:name="com.android.settings.FLAMINGO_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.android.settings.HIGHLIGHT_MENU_KEY"
                android:value="@string/menu_key_flamingo" />
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS"
                android:value="com.flamingo.settings.FlamingoSettingsFragment" />
        </activity>

        <activity
            android:name="com.flamingo.settings.display.livedisplay.LiveDisplaySettingsActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.android.settings.LIVEDISPLAY_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.android.settings.HIGHLIGHT_MENU_KEY"
                android:value="@string/menu_key_display" />
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS"
                android:value="com.flamingo.settings.display.livedisplay.LiveDisplaySettings" />
        </activity>

        <activity android:name="com.flamingo.settings.security.applock.AppLockCredentialActivity"
            android:exported="false"
            android:permission="android.permission.MANAGE_APP_LOCK"
            android:excludeFromRecents="true"
            android:stateNotNeeded="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.app.action.UNLOCK_APP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.flamingo.settings.security.applock.AppLockSubSettings"
            android:exported="false"
            android:excludeFromRecents="true"
            android:taskAffinity="com.android.settings.applock"
            android:launchMode="singleTask" />

        <!--<receiver android:name="com.google.android.settings.routines.RoutinesActionBroadcastReceiver"
                  android:permission="com.google.android.settings.routines.ROUTINES_ACTIONS"
                  android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.settings.routines.RoutinesActionBroadcastReceiver.RINGER_MODE_SILENCE_ACTION"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.google.android.settings.fuelgauge.BatteryBroadcastReceiver"
                android:exported="true">
            <intent-filter>
                <action android:name="settings.intelligence.battery.action.FETCH_BATTERY_USAGE_DATA"/>
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.settings.fuelgauge.BatteryUsageLoaderService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"
            android:process=":usage_data_loader" />-->
    </application>
</manifest>